// 颜色定义规范
$color-background-black = #000
$color-background = #fff
$color-background-d = rgba(0, 0, 0, 0.5)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #333
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-text = #000
$color-text-d = rgba(0, 0, 0, 0.3)
$color-text-l = rgba(0, 0, 0, 0.5)
$color-text-ll = rgba(0, 0, 0, 0.8)
$color-ban-d = rgba(250, 250, 250, 0.3)
$color-ban-l = rgba(250, 250, 250, 0.5)
$color-ban-ll = rgba(250, 250, 250, 0.8)
$color-ban-lll = rgba(250, 250, 250, 1)
$color-bg-d = #f0f0f0
$color-border = #f9f9f9

//字体定义规范
$font-size-small-x = 8px
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
